/* MAIN STYLE SHEET (comment can be removed) */

.title {
    color: pink;
    background-color: blue;
}

footer {
    position:absolute;
    bottom:0;
}


/* TEMPLATE STYLING */

/* Custom */
.page-template-template-custom{
    background-color: white;
}
/* End Custom */